  a:link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: orangered;

  }
  a:visited {
    text-decoration: none;
    color: orangered;
  }
  nav {
    color: orangered;
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .logo {
    width: 55px;
    justify-content: center;
    padding-left: 10px;
    height: auto;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  
  .menu {
    justify-content: center;
    padding-right: 20px;
  }
  #menu {
    display: none;
  }
   
  header {
    display: flex;
    justify-content: center;
  }
  .banner {
    margin: 40px;
  }
  .banner img {
    /* width: 100px; */
    /* height: auto; */

  }
  /* QUE SOMOS */
  .somos {
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .loguitos {
      display: flex;
      justify-content: space-around;
  }

  .linkedin,
  .git {
    width: 60px;
    height: auto;
    margin-right: 10%;
  }
  .linkedin img,
  .git img, .logoDos img {
    width: 100%;
    height: auto;
  }
  
  .logoDos {
    width: 60px;
    height: auto;
    margin-left: 20px;
  }
 
  .texto {
    width: 600px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
 
  h1 {
    color: crimson;
  }
 /* AVATAR USUARIOS */
  .user {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-evenly; 
      margin-top: 3%;
      
  }
  .avatar, .desarrollo {
      width: 150px;
      height: auto;
      display: flex;
      align-items: center;
      text-align: center;
  }
  .avatar img {
    width: 100%;
    height: auto;
  }
  .desarrollo {
      margin-left: 10px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 24px;
      color: #EB8B58;
  }
  /* FOOTER */
  footer {
    background-color: black;
    height: 60px;
   
  }
  .pie {
    display: flex;
    align-items: center;
    justify-content: space-between;
      }
  .email {
    color: orangered;
    font-size: 22px;
    margin-left: 10px;
     
   }
   .email2 {
     display: flex;
   }
  .mail {
    width: 50px;
    height: auto;
    margin-left: 10px;
    
   }   
  .mail img{
    width: 100%;
    height: auto;
  }   
  .logosfooter {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    
    }
  .fb, .instagram, .tuiter{
    width: 60px;
    height: auto;
    margin-right: 10%;
  }
  
  .fb img, .instagram img, .tuiter img {
    width: 100%;
    height: auto;
  }
  /* RESPONSIVE PART */

  @media (max-width: 600px) {
    /* MENU RESPONSIVE*/
    .menu {
      display: none;
    }
    #menu {
      display: flex;
    }  
    /* QUE SOMOS RESPONSIVE */
    .quesomos {
      display: flex;
      flex-direction: column;
     }
    .loguitos {
      display: none;
    }
    .user {
      display: flex;
      flex-direction: column;
    }
    /* FOOTER RESPONSIVE */
    footer {
      flex-direction: column;
      align-items: center; 
      height: 120px;
      }
    .pie {
      flex-direction: column;
      
    }  
    .avatar {
      margin-left: 15%;
    }  
    
    .desarrollo {
     margin-left: 25%;
      
    }
    .banner 
    
     }
